.header-class{
  width:100%;
  z-index:1;
  background-image: url("https://onlyvectorbackgrounds.com/wp-content/uploads/2019/08/Modern-Clean-Abstract-Shapes-Background-Green.jpg")
}

.main-img{
  background-image:url('https://onlyvectorbackgrounds.com/wp-content/uploads/2019/08/Modern-Clean-Abstract-Shapes-Background-Green.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center center;
}
.index-style{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;

}
.index-style:hover{
  font-size:20px;
}


.learn-more-style{
  color:black;
  background-color: rgb(193, 241, 193);
}
.learn-more-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.main-style{
  background-color: rgb(193, 241, 193);
  width:100%
}
.sub-heading-style{
  padding-top: 99px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;
}
.button-send-style{
  color:black;
  width: auto;
  height:35px;
}
.button-send-style:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.icon-style-mail{
  color:black;
}
.icon-style-insta{
  color:black;
}
.icon-style-fb{
  color:black;
}
.copyright-style{
  font-style: italic;
  color:black;
}
.mig-name{
  color: black;
  font-style: oblique;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  
}
.images{
  height:9em;
}
.cards{
  height:22em;
}
.icon-style-mail:hover{
  color: #dd4b39;
}
.icon-style-insta:hover{
  color:#e4405f;
}
.icon-style-fb:hover{
  color:#3b5999;
}
.move-up-icon{
  position:fixed;
  bottom: 42px;
  right: 50px;
  color:black;
  text-decoration:none;
}


.mig-logo{
  margin-left: 10%;
}
#busi{
  padding-top: 87px;
}
#org{
  padding-top: 86px;
}
#cont{
  padding-top: 32px;
}
.hr-heading{
  width:60%;
  color:black
}
.row-class{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -33px;
    margin-left: -30px;
}
.read-more-class{ 
  font-style: italic;
  color: black;
}

/*learnmore.html css*/
.miggroup{
  padding-top: 20px;;
}
.garden-class{
  padding-top:100px;
}
.farm-class{
  padding-top:120px;
}
.store-class{
  padding-top:133px;
}
.ministore-class{
  padding-top:143px;
}
.book-class{
  padding-top:143px;
}
.care-class{
  padding-top:135px;
}
.create-class{
  padding-top:152px;
}
.forest-class{
  padding-top:155px;
}
.dropd-class{
  border-style: none;
  background-color: red;
  scroll-behavior: smooth;
}
.line-heading{
  padding-left: 40px
}
/*send.html css*/
.logo-last{
  
  padding-top: 90px;
  
 

}
.thank-note{
   padding-top:10em;
   float: left;
}
footer{
  margin-top: 10px;
}
.thank-note-h1{
  font-style: oblique;
  padding-left: 54px;
  font-size: 5em;
}
.thank-note-p{
  padding-left: 10em;
}
.main-send{
  height: 419px;
}
